<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About Me</h2>
        <p>I'm Buruburu, I just finished my bootcamp in Le Wagon Tokyo.
          I am open to any chances
        </p>
      </div>
    </div>
  </div>
</div>
